body {
  background-color: #CCFFBC;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

th {
  background-color:#2AAD00;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
}

tr {
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}
li a {
  float:left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #A9A9A9;
}
a:hover{
    background-color: #ffffff;
    color: #000000;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: #333;
}
.myInput{
    margin: 2rem; 
}
.GitHub{
background-color: #2AAD00;
}
.Dane1{
	padding:1rem;
	background-color: #333;
	color:#ffffff;
	margin-top: 1rem;
}
.zielone{
	padding: 0.75rem;
	color:#ffffff;
	background-color: #2AAD00;
}
.szare{
	padding: 0.75rem;
	color:#ffffff;
	background-color: #A9A9A9;
}
.tlo_zielony{
	background-color: #2AAD00;
	color:#ffffff;
}
.tabela_kik{
  border-collapse: collapse;
  width: 600px;
  height: 150px;
}
.tr_kik {
	height: 150px;
}
.big_kik{
	font-size: 500%;
}
.button_kik {
  background-color: #2AAD00;
  border: none;
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  display: block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5rem;
}
.do_lewej{
	float:left;
	display: inline-block;
	height: 150px;
}
	
