body {
  background-color: lightorange;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color:lightred;
  height: 70px;
  text-align: center;
}

tr {
  background-color: lightblue;
  text-align: center;
}
