body {
  background-color: #8CFF26;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color:#EE7400;
  height: 70px;
  text-align: center;
}

tr {
  background-color: #00FFEC;
  text-align: center;
}
