* {
    padding: 0;
    margin: 0;
}

.str1 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b d" "a c d" "a e d";
}

.str1A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str1B {
    background-color: greenyellow;
    grid-area: b;
    margin: 5px;
}

.str1C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str1D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str1E {
    background-color: orange;
    grid-area: e;
    margin: 5px;
}


/*=========================================================================================================*/

.str2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b b b" "a a c c f f" "a a d e f f";
}

.str2A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str2B {
    background-color: greenyellow;
    grid-area: b;
    margin: 5px;
}

.str2C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str2D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str2E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str2F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}