* {
    padding: 0;
    margin: 0;
}

.uklad_grida {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-areas: "a a a" "b c d";
    grid-template-rows: 100px;
}

.grid_a {
    background-color: red;
    grid-area: a;
}

.grid_b {
    background-color: lime;
    grid-area: b;
}

.grid_c {
    background-color: lightskyblue;
    grid-area: c;
}

.grid_d {
    background-color: yellow;
    grid-area: d;
}